name: CI

on:
  push:
    branches:
      - main
      - support/*
  pull_request:
    branches:
      - main

jobs:
  php:
    name: PHP
    uses: Icinga/github-actions/.github/workflows/php.yml@main
    with:
      dependencies: |
        {
          "./vendor/icingaweb2-modules/icingadb"  : "https://github.com/Icinga/icingadb-web.git",
          "./vendor/icingaweb2-modules/pdfexport" : "https://github.com/Icinga/icingaweb2-module-pdfexport.git"
        }
